USE [sistema-venta-libros]
GO
/****** Object:  Table [dbo].[AUTOR]    Script Date: 9/30/2026 7:08:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTOR](
	[autor_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellido] [varchar](100) NOT NULL,
	[isni] [char](16) NULL,
	[nacionalidad_id] [int] NULL,
	[fecha_nacimiento] [date] NULL,
	[fecha_fallecimiento] [date] NULL,
	[diferencial] [varchar](150) NULL,
	[biografia] [text] NULL,
 CONSTRAINT [pk_autor] PRIMARY KEY CLUSTERED 
(
	[autor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_autor_isni] UNIQUE NONCLUSTERED 
(
	[isni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_autor_nombre_apellido] UNIQUE NONCLUSTERED 
(
	[nombre] ASC,
	[apellido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUTOR_LIBRO]    Script Date: 9/30/2026 7:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTOR_LIBRO](
	[autor_libro_id] [int] IDENTITY(1,1) NOT NULL,
	[libro_id] [int] NULL,
	[autor_id] [int] NULL,
 CONSTRAINT [pk_autor_libro] PRIMARY KEY CLUSTERED 
(
	[autor_libro_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_autor_libro] UNIQUE NONCLUSTERED 
(
	[autor_id] ASC,
	[libro_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 9/30/2026 7:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[categoria_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
 CONSTRAINT [pk_categoria] PRIMARY KEY CLUSTERED 
(
	[categoria_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_categoria_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CIUDAD]    Script Date: 9/30/2026 7:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIUDAD](
	[ciudad_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[provincia_id] [int] NOT NULL,
 CONSTRAINT [pk_ciudad] PRIMARY KEY CLUSTERED 
(
	[ciudad_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_ciudad_nombre_provincia] UNIQUE NONCLUSTERED 
(
	[nombre] ASC,
	[provincia_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONDICION]    Script Date: 9/30/2026 7:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONDICION](
	[condicion_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [pk_condicion] PRIMARY KEY CLUSTERED 
(
	[condicion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_condicion_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIRECCION]    Script Date: 9/30/2026 7:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIRECCION](
	[direccion_id] [int] IDENTITY(1,1) NOT NULL,
	[calle] [varchar](255) NOT NULL,
	[altura] [int] NOT NULL,
	[piso] [varchar](50) NULL,
	[departamento] [varchar](50) NULL,
	[codigo_postal] [varchar](10) NOT NULL,
	[referencia] [varchar](max) NULL,
	[usuario_id] [int] NOT NULL,
	[ciudad_id] [int] NOT NULL,
 CONSTRAINT [pk_direccion] PRIMARY KEY CLUSTERED 
(
	[direccion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EDITORIAL]    Script Date: 9/30/2026 7:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDITORIAL](
	[editorial_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
 CONSTRAINT [pk_editorial] PRIMARY KEY CLUSTERED 
(
	[editorial_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_editorial_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENCUADERNACION]    Script Date: 9/30/2026 7:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENCUADERNACION](
	[encuadernacion_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [pk_encuadernacion] PRIMARY KEY CLUSTERED 
(
	[encuadernacion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_encuadernacion_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IDIOMA]    Script Date: 9/30/2026 7:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IDIOMA](
	[idioma_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [pk_idioma] PRIMARY KEY CLUSTERED 
(
	[idioma_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_idioma_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIBRO]    Script Date: 9/30/2026 7:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIBRO](
	[libro_id] [int] IDENTITY(1,1) NOT NULL,
	[isbn] [char](13) NOT NULL,
	[titulo] [varchar](255) NOT NULL,
	[anio_publicacion] [date] NOT NULL,
	[nro_paginas] [int] NOT NULL,
	[encuadernacion_id] [int] NOT NULL,
	[categoria_id] [int] NOT NULL,
	[idioma_id] [int] NOT NULL,
	[editorial_id] [int] NOT NULL,
 CONSTRAINT [pk_libro] PRIMARY KEY CLUSTERED 
(
	[libro_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_libro_isbn] UNIQUE NONCLUSTERED 
(
	[isbn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NACIONALIDAD]    Script Date: 9/30/2026 7:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NACIONALIDAD](
	[nacionalidad_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
 CONSTRAINT [pk_nacionalidad] PRIMARY KEY CLUSTERED 
(
	[nacionalidad_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_localidad_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGO]    Script Date: 9/30/2026 7:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO](
	[pago_id] [int] IDENTITY(1,1) NOT NULL,
	[importe] [decimal](18, 2) NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_pago] [datetime] NULL,
	[pago_estado_id] [int] NOT NULL,
	[pago_metodo_id] [int] NOT NULL,
	[pedido_id] [int] NOT NULL,
 CONSTRAINT [pk_pago] PRIMARY KEY CLUSTERED 
(
	[pago_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGO_ESTADO]    Script Date: 9/30/2026 7:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO_ESTADO](
	[pago_estado_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [pk_pago_estado] PRIMARY KEY CLUSTERED 
(
	[pago_estado_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_pago_estado_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGO_METODO]    Script Date: 9/30/2026 7:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO_METODO](
	[pago_metodo_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [pk_pago_metodo] PRIMARY KEY CLUSTERED 
(
	[pago_metodo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_pago_metodo_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDO]    Script Date: 9/30/2026 7:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO](
	[pedido_id] [int] IDENTITY(1,1) NOT NULL,
	[fecha_pedido] [datetime] NOT NULL,
	[envio_calle] [varchar](255) NOT NULL,
	[envio_altura] [int] NOT NULL,
	[envio_piso] [varchar](50) NULL,
	[envio_departamento] [varchar](50) NULL,
	[envio_codigo_postal] [varchar](10) NOT NULL,
	[envio_referencia] [varchar](max) NULL,
	[usuario_id] [int] NOT NULL,
	[pedido_estado_id] [int] NOT NULL,
	[ciudad_id] [int] NOT NULL,
 CONSTRAINT [pk_pedido] PRIMARY KEY CLUSTERED 
(
	[pedido_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDO_ESTADO]    Script Date: 9/30/2026 7:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO_ESTADO](
	[pedido_estado_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [pedido_estado_id] PRIMARY KEY CLUSTERED 
(
	[pedido_estado_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_pedido_estado_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVINCIA]    Script Date: 9/30/2026 7:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVINCIA](
	[provincia_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
 CONSTRAINT [pk_provincia] PRIMARY KEY CLUSTERED 
(
	[provincia_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_provincia_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PUBLICACION]    Script Date: 9/30/2026 7:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUBLICACION](
	[publicacion_id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[libro_id] [int] NOT NULL,
	[condicion_id] [int] NOT NULL,
	[stock] [int] NOT NULL,
	[precio] [decimal](18, 2) NOT NULL,
	[disponible] [bit] NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_eliminacion] [datetime] NULL,
 CONSTRAINT [pk_publicacion] PRIMARY KEY CLUSTERED 
(
	[publicacion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_publicacion_usuario_libro_condicion] UNIQUE NONCLUSTERED 
(
	[usuario_id] ASC,
	[libro_id] ASC,
	[condicion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 9/30/2026 7:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[usuario_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[dni] [varchar](10) NOT NULL,
	[email] [varchar](254) NOT NULL,
	[telefono] [varchar](20) NOT NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[fecha_eliminacion] [datetime] NULL,
	[usuario_rol_id] [int] NOT NULL,
 CONSTRAINT [pk_usuario] PRIMARY KEY CLUSTERED 
(
	[usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_usuario_dni] UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_usuario_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO_ROL]    Script Date: 9/30/2026 7:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_ROL](
	[usuario_rol_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [pk_usuario_rol] PRIMARY KEY CLUSTERED 
(
	[usuario_rol_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_usuario_rol_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PUBLICACION] ADD  CONSTRAINT [df_publicacion_disponible]  DEFAULT ((1)) FOR [disponible]
GO
ALTER TABLE [dbo].[PUBLICACION] ADD  CONSTRAINT [df_publicacion_fecha_creacion]  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[AUTOR]  WITH CHECK ADD  CONSTRAINT [fk_autor_nacionalidad] FOREIGN KEY([nacionalidad_id])
REFERENCES [dbo].[NACIONALIDAD] ([nacionalidad_id])
GO
ALTER TABLE [dbo].[AUTOR] CHECK CONSTRAINT [fk_autor_nacionalidad]
GO
ALTER TABLE [dbo].[AUTOR_LIBRO]  WITH CHECK ADD  CONSTRAINT [fk_autor_libro_autor] FOREIGN KEY([autor_id])
REFERENCES [dbo].[AUTOR] ([autor_id])
GO
ALTER TABLE [dbo].[AUTOR_LIBRO] CHECK CONSTRAINT [fk_autor_libro_autor]
GO
ALTER TABLE [dbo].[AUTOR_LIBRO]  WITH CHECK ADD  CONSTRAINT [fk_autor_libro_libro] FOREIGN KEY([libro_id])
REFERENCES [dbo].[LIBRO] ([libro_id])
GO
ALTER TABLE [dbo].[AUTOR_LIBRO] CHECK CONSTRAINT [fk_autor_libro_libro]
GO
ALTER TABLE [dbo].[CIUDAD]  WITH CHECK ADD  CONSTRAINT [fk_ciudad_provincia] FOREIGN KEY([provincia_id])
REFERENCES [dbo].[PROVINCIA] ([provincia_id])
GO
ALTER TABLE [dbo].[CIUDAD] CHECK CONSTRAINT [fk_ciudad_provincia]
GO
ALTER TABLE [dbo].[DIRECCION]  WITH CHECK ADD  CONSTRAINT [fk_direccion_ciudad] FOREIGN KEY([ciudad_id])
REFERENCES [dbo].[CIUDAD] ([ciudad_id])
GO
ALTER TABLE [dbo].[DIRECCION] CHECK CONSTRAINT [fk_direccion_ciudad]
GO
ALTER TABLE [dbo].[DIRECCION]  WITH CHECK ADD  CONSTRAINT [fk_direccion_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[USUARIO] ([usuario_id])
GO
ALTER TABLE [dbo].[DIRECCION] CHECK CONSTRAINT [fk_direccion_usuario]
GO
ALTER TABLE [dbo].[LIBRO]  WITH CHECK ADD  CONSTRAINT [fk_libro_categoria] FOREIGN KEY([categoria_id])
REFERENCES [dbo].[CATEGORIA] ([categoria_id])
GO
ALTER TABLE [dbo].[LIBRO] CHECK CONSTRAINT [fk_libro_categoria]
GO
ALTER TABLE [dbo].[LIBRO]  WITH CHECK ADD  CONSTRAINT [fk_libro_editorial] FOREIGN KEY([editorial_id])
REFERENCES [dbo].[EDITORIAL] ([editorial_id])
GO
ALTER TABLE [dbo].[LIBRO] CHECK CONSTRAINT [fk_libro_editorial]
GO
ALTER TABLE [dbo].[LIBRO]  WITH CHECK ADD  CONSTRAINT [fk_libro_encuadernacion] FOREIGN KEY([encuadernacion_id])
REFERENCES [dbo].[ENCUADERNACION] ([encuadernacion_id])
GO
ALTER TABLE [dbo].[LIBRO] CHECK CONSTRAINT [fk_libro_encuadernacion]
GO
ALTER TABLE [dbo].[LIBRO]  WITH CHECK ADD  CONSTRAINT [fk_libro_idioma] FOREIGN KEY([idioma_id])
REFERENCES [dbo].[IDIOMA] ([idioma_id])
GO
ALTER TABLE [dbo].[LIBRO] CHECK CONSTRAINT [fk_libro_idioma]
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD  CONSTRAINT [fk_pago_pago_estado] FOREIGN KEY([pago_estado_id])
REFERENCES [dbo].[PAGO_ESTADO] ([pago_estado_id])
GO
ALTER TABLE [dbo].[PAGO] CHECK CONSTRAINT [fk_pago_pago_estado]
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD  CONSTRAINT [fk_pago_pago_metodo] FOREIGN KEY([pago_metodo_id])
REFERENCES [dbo].[PAGO_METODO] ([pago_metodo_id])
GO
ALTER TABLE [dbo].[PAGO] CHECK CONSTRAINT [fk_pago_pago_metodo]
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD  CONSTRAINT [fk_pago_pedido] FOREIGN KEY([pedido_id])
REFERENCES [dbo].[PEDIDO] ([pedido_id])
GO
ALTER TABLE [dbo].[PAGO] CHECK CONSTRAINT [fk_pago_pedido]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [fk_pedido_ciudad] FOREIGN KEY([ciudad_id])
REFERENCES [dbo].[CIUDAD] ([ciudad_id])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [fk_pedido_ciudad]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [fk_pedido_pedido_estado] FOREIGN KEY([pedido_estado_id])
REFERENCES [dbo].[PEDIDO_ESTADO] ([pedido_estado_id])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [fk_pedido_pedido_estado]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [fk_pedido_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[USUARIO] ([usuario_id])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [fk_pedido_usuario]
GO
ALTER TABLE [dbo].[PUBLICACION]  WITH CHECK ADD  CONSTRAINT [fk_publicacion_condicion] FOREIGN KEY([condicion_id])
REFERENCES [dbo].[CONDICION] ([condicion_id])
GO
ALTER TABLE [dbo].[PUBLICACION] CHECK CONSTRAINT [fk_publicacion_condicion]
GO
ALTER TABLE [dbo].[PUBLICACION]  WITH CHECK ADD  CONSTRAINT [fk_publicacion_libro] FOREIGN KEY([libro_id])
REFERENCES [dbo].[LIBRO] ([libro_id])
GO
ALTER TABLE [dbo].[PUBLICACION] CHECK CONSTRAINT [fk_publicacion_libro]
GO
ALTER TABLE [dbo].[PUBLICACION]  WITH CHECK ADD  CONSTRAINT [fk_publicacion_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[USUARIO] ([usuario_id])
GO
ALTER TABLE [dbo].[PUBLICACION] CHECK CONSTRAINT [fk_publicacion_usuario]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [fk_usuario_usuario_rol] FOREIGN KEY([usuario_rol_id])
REFERENCES [dbo].[USUARIO_ROL] ([usuario_rol_id])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [fk_usuario_usuario_rol]
GO
ALTER TABLE [dbo].[PUBLICACION]  WITH CHECK ADD  CONSTRAINT [chk_publicacion_precio] CHECK  (([precio]>(0)))
GO
ALTER TABLE [dbo].[PUBLICACION] CHECK CONSTRAINT [chk_publicacion_precio]
GO
ALTER TABLE [dbo].[PUBLICACION]  WITH CHECK ADD  CONSTRAINT [chk_publicacion_stock] CHECK  (([stock]>(0)))
GO
ALTER TABLE [dbo].[PUBLICACION] CHECK CONSTRAINT [chk_publicacion_stock]
GO
